.titulo1 {
    font-family: "FreeSans", sans-serif;
}

h1 {
    font-family: "FreeSans", serif;
}

.titulo2 {
    font-family: "Laksaman", serif;
}

h2 {
    font-family: "Laksaman", serif;
}

.lista {
    font-family: "Chilanka", serif;
}

ul {
    font-family: "Chilanka", serif;
}

.link {
    font-family: "Manjari", serif;
}

a {
    font-family: "Manjari", serif;
}