body {background-color: #92a8d1;}

.titulo1 {
    font-family: "FreeSans", sans-serif;
}

h1 {
    font-family: "FreeSans", serif;
}

.titulo2 {
    font-family: "Laksaman", serif;
}

h2 {
    font-family: "Laksaman", serif;
}

.lista {
    font-family: "Chilanka", serif;
}

ul {
    font-family: "Chilanka", serif;
}

.link {
    font-family: "Manjari", serif;
}

a {
    font-family: "Manjari", serif;
}

.fontsize1 {
    font-size: 26px;
}

.fontsize2 {
    font-size: 24px;
}

.fontsize3 {
    font-size: 22px;
}