
.titulo1 {
    font-family: "FreeSans", sans-serif;
    text-align: center
}

.titulo2 {
    font-family: "Laksaman", serif;
    padding: 0px;
    margin: 0px;
}

.blocofoto{
    vertical-align: text-top;
}

.lista {
    font-family: "Chilanka", serif;
}

table, td, th {
    border: 1px solid black;
    margin: 0 auto;
  }

body {background-color: #92a8d1;
    }

.link {
    font-family: "Manjari", serif;
}

h1 {
    font-family: "FreeSans", serif;
}

h2 {
    font-family: "Laksaman", serif;
}

ul {
    font-family: "Chilanka", serif;
}

a {
    font-family: "Manjari", serif;
}

.fontsize1 {
    font-size: 26px;
}

.fontsize2 {
    font-size: 24px;
}

.fontsize3 {
    font-size: 22px;
}